<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="import" href="./bower_components/polymer/polymer.html">
    <link rel="import" href="./custom-components/login.html">
    <link rel="import" href="./bower_components/t-app-footer/t-app-footer.html">
    <link rel="import" href="./bower_components/t-section-header/t-section-header.html">
    <link rel="import" href="./bower_components/t-mystique-auth/t-mystique-auth.html">
    <style>
    t-section-header#header {
        background-color: #0098ff;
        color: white;
    }
    
    t-app-footer {
        margin-top: 30px;
    }
    </style>
</head>

<body>
    <template is="dom-bind">
        <t-mystique-auth id="tokenCall" name="nxtb2bsite" url="http://dev-mystiquecode.tavisca.com/api/authentication/authenticate/context" token-response="{{token}}"></t-mystique-auth>
        <t-section-header id="header" label="Create an Account"></t-section-header>
        <t-register token="{{token.authenticationToken}}"></t-register>
        <t-app-footer label="Footer Information"></t-app-footer>
    </template>
    <script src="./bower_components/webcomponentsjs/webcomponents-lite.js"></script>
</html>
